<!DOCTYPE html>
<html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport"
			content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<title>{{site.title}|2048}</title>
		<link rel="stylesheet" href="2048.css">
		<script src="//code.jquery.com/jquery-latest.js"></script>
		<script src="../javascripts/support_2048.js"></script>
		<script src="../javascripts/animation_2048.js"></script>
		<script src="../stylesheets/2048.js"></script>
	</head>
<body>
{{content}}
</body>
</html>